

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:#2f2f3d;
}

/* --------------------------------------------------- */
/* ---------------     Header     -------------------- */
/* --------------------------------------------------- */

header{
    width:100%;
    padding:25px 8%;
}

/* Navbar */

.navbar{
    display:grid;
    grid-template-columns:1fr 9fr 1fr;
    align-items:center;
}

/* Logo */

.logo{
    display:flex;
    gap:8px;
    color:#fff;
    height: 200px;
    width: 250px;
    margin-top: -95px;
}


/* Menu */

.menu{
    display:flex;
    list-style:none;
    gap:35px;
    text-align:center;
    margin-top: -95px;
}

.menu li a{
    text-decoration:none;
    color:#8b8b98;
    font-size:14px;
    transition:.3s;
}

.menu li a:hover{
    color:#fff;
}

.menu .active{
    color:#fff;
}

/* Icons */

.social-icons{
    display:flex;
    align-items:center;
    gap:22px;
    margin-top: -95px;
}

.social-icons i{
    color:#fff;
    cursor:pointer;
    
}

.social-icons i:hover{
    color:#f5b400;
}


/* --------------------------------------------------- */
/* ---------------  Main Content  -------------------- */
/* --------------------------------------------------- */

.Main-section{
    width:100%;
    padding:25px 8%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.section_1{
    grid-row: 1;
    grid-column: 1;
}
.section_2{
    grid-row: 2;
    grid-column: 1;
}
.section_3{
    grid-row: 1;
    grid-column: 2;
}
.section_4{
    grid-row: 2;
    grid-column: 2;
}
.section_5{
    grid-row: 1;
    grid-column: 3;
}
.section_6{
    grid-row: 2;
    grid-column: 3;
}



/* Responsive */

@media(max-width:768px){

    .menu{
        display:none;
    }

    .navbar{
        justify-content:space-between;
    }

}