

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background-color:#2f2f3d;
}

/* --------------------------------------------------- */
/* ---------------     Header     -------------------- */
/* --------------------------------------------------- */

header{
    width:100%;
    margin:0 120px;
    position:fixed;
    top:0;
    
}

/* Navbar */

.navbar{
    display:grid;
    grid-template-columns:1fr 6fr 3fr;
    align-items:center;
}

/* Logo */

.logo{
    display:flex;
    gap:8px;
    color:#fff;
    height: 100px;
    width: 250px;
    
}


/* Menu */

.menu{
    display:flex;
    list-style:none;
    gap:35px;
    text-align:right;
    
}

.menu li a{
    text-decoration:none;
    color:#8b8b98;
    font-size:14px;
    
}

.menu li a:hover{
    color:#fff;
}

.menu .active{
    color:#fff;
}

/* Icons */

.social-icons{
    display:flex;
    align-items:center;
    gap:22px;
   
}

.social-icons i{
    color:#fff;
    cursor:pointer;
    
}

.social-icons i:hover{
    color:#f5b400;
}


/* --------------------------------------------------- */
/* ---------------  Main Content  -------------------- */
/* --------------------------------------------------- */

.Main-section{
    width:100%;
    min-height:80vh;
    padding:40px 8%;

    display:grid;
    grid-template-columns:1fr 1.2fr 1fr;
    align-items:center;
    gap:40px;
}

/* First Column ( Left Column ) */

.section_1 h2{
    color:#8f8f9f;
    font-size:60px;
    font-weight:300;
    margin-bottom:10px;
}

.section_1 h1{
    color:#fff;
    font-size:72px;
    font-weight:700;
    line-height:1.1;
    position:relative;
    display:inline-block;
    margin-bottom:50px;
}

.section_1 h1::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-20px;

    width:120px;
    height:4px;

    background-color:#f5b400;
    border-radius:10px;
}

.section_1 p{
    width:80%;
    color:#9d9daa;
    font-size:16px;
    line-height:1.9;
}


/* 2nd Column ( Middle Column ) */

.section_3{
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
}

.circle{
    width:500px;
    height:500px;
    border-radius:50%;
    background-color:#3b3b4a;
    position:absolute;
}

.section_3 img{
    width:500px;
    position:relative;
    z-index:2;
    margin-top:30px;
}


.section_5 span{
    color:#9d9daa;
    font-size:16px;
}

.section_5 h3{
    color:#fff;
    font-size:38px;
    line-height:1.5;
    margin:15px 0 25px;
}

.section_5 a{
    color:#f5b400;
    text-decoration:none;
    font-size:16px;
    font-weight:500;
}

.section_5 a:hover{
    color:#ffd54d;
}

.social{
    display:flex;
    gap:18px;
    margin-top:35px;
}

.social i{
    width:42px;
    height:42px;

    background-color:#3b3b4a;
    color:#f5b400;

    border-radius:50%;

    display:flex;
    justify-content:center;
    align-items:center;

    cursor:pointer;
    
}

.social i:hover{
    background-color:#f5b400;
    color:#2f2f3d;
}


/* ------------------------------- */
/* -----------Brands-------------- */
/* ------------------------------- */

.brands{
    width:80%;
    margin:-110px 100px 0;
    padding:18px;

    background-color:#3E3F4F;

    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:20px;

    position:relative;
    z-index:10;
}

.brand-card{
    flex:1;
    height:70px;
    background-color:#282832;
    display:flex;
    justify-content:center;
    align-items:center;

}

.brand-card:hover{
    transform:translateY(-4px);
}

.brand-card img{
    max-width:120px;
    width:70%;
    height:auto;
}

.services-section{

    width:100%;
    padding:90px 8%;

    display:grid;
    grid-template-columns:1fr 1.3fr;

    gap:80px;

    background:#2b2b38;
}

/* Left */

.services-left h2{

    color:#fff;
    font-size:52px;
    line-height:1.2;

    margin-bottom:25px;
}

.services-left p{

    color:#8d8d99;
    line-height:1.9;

    margin-bottom:45px;
}

/* Counter */

.counter{

    display:grid;
    grid-template-columns:repeat(2,1fr);

    gap:35px;
}

.count-box h3{

    color:#f5b400;
    font-size:38px;

    margin-bottom:8px;
}

.count-box span{

    color:#8d8d99;
    font-size:14px;
}

/* Right */

.services-right{

    display:flex;
    flex-direction:column;

    gap:30px;
}

/* Card */

.service-card{

    display:flex;

    align-items:center;

    padding-bottom:25px;

    border-bottom:1px solid #444451;
}

.service-card img{

    width:170px;
    height:95px;

    object-fit:cover;
}

.service-info{

    margin-left:25px;

    flex:1;
}

.service-info h3{

    color:#fff;
    font-size:30px;

    margin-bottom:10px;
}

.service-info span{

    color:#8d8d99;
}

.service-card i{

    color:#f5b400;

    font-size:24px;
}

/* Responsive */

@media(max-width:768px){

    .menu{
        display:none;
    }

    .navbar{
        justify-content:space-between;
    }

}